wifi_ssid = "VM5011014"
wifi_password = "xc8RhzbsLkmm"

mqtt_host = "mqtt.home"
mqtt_port = 1883
mqtt_user = None
mqtt_password = None
mqtt_client = "epaper1"
mqtt_topic_prefix = mqtt_client

deepsleep_duration = 3600 * 1000 # milliseconds

