html,
body {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    width: 800px;
    height: 480px;
    margin: 0;
    outline: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 800px;
    height: 480px;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

img {
    max-width: 50%;
    box-shadow: 3px 3px 6px #eee;
    border-radius: 6px;
}

#left {
    width: 50vw;
    height: 480px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#debug {
    position: absolute;
    top: -4px;
    right: 0;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#left h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 60px;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black
}

#right {
    width: 50vw;
    height: 480px;
    border-left: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    background: white;
}

.hidden {
    display: none;
}

#timetable {
    display: grid;
    grid-template-areas: "head lessons" "notes lessons";
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*    display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.timetable-lessons {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    overflow: hidden;
    text-wrap: nowrap;
    grid-area: lessons;
}

.timetable-lessons .bold {
    font-weight: bold;
}

.timetable-lessons .until {
    display: none;
}

.timetable-lessons .until:last-child {
    display: inline;
}

.timetable-head {
    grid-area: head;
}

.timetable-date {
    padding: 0;
    font-size: 28px;
    margin-top: -6px;
    padding-right: 0.5rem;
}

.timetable-notes {
    grid-area: notes;
    /*    justify-self: end; */
    align-self: end;
    display: flex;
    flex-direction: column;
}

.timetable-note div {
    display: inline-block;
    font-size: 36px;
    background: black;
    color: white;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
}

.timetable-note {}

#events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.daysUntil {
    display: flex;
    flex-direction: column;
    /*    justify-content: space-between;*/
    align-items: center;
    background: #fff;
    margin: 0 0.25em;
}

.daysUntil h1,
.daysUntil h2,
.daysUntil h3 {
    text-align: center;
    margin: 0;
}

.daysUntil h1 {
    font-size: 70px;
    letter-spacing: -0.02em;
}

.daysUntil h2 {
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 900;
}

.daysUntil h3 {
    margin-top: -15px;
    font-size: 12px;
}
